body {
    background-color: #f5f5dd;
}

.square {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.square1 {
    background-color: black;
}

.square2 {
    background-color: rgba(0, 0, 0, 0.651)
}

.square3 {
    background-color: rgba(0, 0, 0, 0.384)
}

.square4 {
    background-color: rgba(0, 0, 0, 0.192)
}